.footer_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto 0;
  padding: 0;
}
.footer_div img {
  max-width: 70px;
  margin: auto;
  width: 100%;
}
