.fifth_home_page_div {
  background-color: rgb(186, 178, 212);
  padding: 2rem;
}

.fifth_home_page_con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.fifth_home_page_con_left {
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.fifth_home_page_con_left h1 {
  font-size: 33px;
  margin: 0;
}

.fifth_home_page_con_left_inp {
  width: 100%;
  padding-top: 1rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.fifth_home_page_con_left input {
  width: 100%;
  max-width: 230px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}

.fifth_home_page_con_left button {
  width: 100%;
  max-width: 230px;
  font-size: 14px;
}

.fifth_home_page_con_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.fifth_home_page_con_right_title {
  width: 100%;
  max-width: 700px;
  padding-top: 2rem;
}

.fifth_home_page_con_right_title h1 {
  font-size: 33px;
  margin: 0;
}

.fifth_home_page_con_right_title p {
  font-size: 16px;
  line-height: 1.5;
}

.fifth_home_page_con_right ul {
  width: 100%;
  list-style-type: none;
  text-align: start;
  padding: 0;
}

.fifth_home_page_con_right li {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.fifth_home_page_con_right ul li:before {
  content: "\2713";
  font-size: 20px;
  margin-right: 8px;
  margin-left: 10px;
}

@media only screen and (max-width: 1110px) {
  .fifth_home_page_con_left {
    width: 80%;
  }

  .fifth_home_page_con_left h1 {
    font-size: 30px;
  }

  .fifth_home_page_con_right_title h1 {
    font-size: 30px;
  }

  .fifth_home_page_con_right_title p {
    font-size: 15px;
  }

  .fifth_home_page_con_right li {
    font-size: 14px;
  }
}

@media only screen and (max-width: 960px) {
  .fifth_home_page_con_left h1 {
    font-size: 25px;
  }

  .fifth_home_page_con_right_title h1 {
    font-size: 25px;
  }

  .fifth_home_page_con_right_title p {
    font-size: 14px;
  }

  .fifth_home_page_con_right_list {
    max-width: 600px;
  }
}

@media only screen and (max-width: 805px) {
  .fifth_home_page_con_left_inp {
    gap: 10px;
  }

  .fifth_home_page_con_left input {
    max-width: 200px;
  }

  .fifth_home_page_con_left button {
    max-width: 200px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .fifth_home_page_con_left_inp {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .fifth_home_page_con_left button {
    max-width: 210px;
  }

  .fifth_home_page_con_right li {
    font-size: 12px;
  }
}
