.first_home_page_div {
  background-color: rgb(186, 178, 212);
}

.first_home_page_con {
  display: flex;
  color: rgb(86, 45, 152);
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first_home_page_con_left {
  width: 100%;
  padding-top: 3rem;
  padding-left: 6rem;
  text-align: start;
}

.first_home_page_con_left h1 {
  margin-bottom: 15px;
  font-size: 42px;
  text-transform: uppercase;
}

.first_home_page_con_left hr {
  border: none;
  width: 100%;
  height: 0.5px;
  background-color: #ffffff;
}

.first_home_page_con_left p {
  font-size: 17px;
}

.first_home_page_con_left button {
  font-size: 15px;
}

.first_home_page_con_right {
  width: 100%;
  padding-top: 2rem;
}

.first_home_page_footer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 11px;
}

@media only screen and (min-width: 1100px) {
  .first_home_page_con_left {
    width: 55%;
  }

  .first_home_page_con_right {
    width: 55%;
  }
}

@media only screen and (max-width: 799px) {
  .first_home_page_con {
    flex-direction: column;
    align-items: center;
  }

  .first_home_page_con_left {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
  }

  .first_home_page_con_left h1 {
    font-size: 33px;
  }

  .first_home_page_con_right {
    padding-top: 0;
  }
}
