.fourth_home_page_div {
  background-color: rgb(210, 206, 224);
  padding: 7rem;
}

.fourth_home_page_con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fourth_home_page_con_left {
  max-width: 500px;
  color: black;
  font-size: 20px;
}

.fourth_home_page_con_left h2 {
  margin: 0;
}

.fourth_home_page_con_right {
  color: black;
  font-size: 15px;
  padding: 2rem 0;
}

.fourth_home_page_list_con {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fourth_home_page_list {
  background-color: rgb(195, 191, 213);
  border-radius: 10px;
  padding: 1rem;
  max-width: 220px;
  text-align: center;
}

.fourth_home_page_list h2 {
  color: rgb(86, 45, 152);
}

.fourth_home_page_list h1 {
  font-size: 25px;
}

.fourth_home_page_list p {
  font-size: 15px;
}

.fourth_home_page_list button {
  max-width: 120px;
  font-size: 14px;
}

@media only screen and (max-width: 1250px) {
  .fourth_home_page_div {
    padding: 4rem 4rem;
  }
}

@media only screen and (max-width: 950px) {
  .fourth_home_page_list_con {
    gap: 1rem;
  }
}

@media only screen and (max-width: 750px) {
  .fourth_home_page_list h2 {
    font-size: 20px;
  }

  .fourth_home_page_list h1 {
    font-size: 22px;
  }

  .fourth_home_page_list p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .fourth_home_page_div {
    padding: 2rem;
  }

  .fourth_home_page_con_left h2 {
    font-size: 26px;
  }
}
