.fourth_home_page_div {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgb(210, 206, 224);
  padding: 7.5rem;
}
.fourth_home_page_con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.fourth_home_page_con_left {
  width: 100%;
  max-width: 500px;
  display: column;
  text-align: center;
  color: black;
  font-size: 20px;
}
.fourth_home_page_con_left h2 {
  margin: 0;
}
.fourth_home_page_con_right {
  width: 100%;
  max-width: 900px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.fourth_home_page_list_con {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.fourth_home_page_list {
  background-color: rgb(195, 191, 213);
  border-radius: 10px;
  padding: 20px;
}
.fourth_home_page_list h2 {
  color: rgb(86, 45, 152);
}
.fourth_home_page_list h1 {
  font-size: 25px;
}
.fourth_home_page_list p {
  font-size: 15px;
}
.fourth_home_page_list button {
  width: 100%;
  max-width: 120px;
  font-size: 14px;
}
@media only screen and (max-width: 1000px) {
  .fourth_home_page_div {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media only screen and (max-width: 950px) {
  .fourth_home_page_div {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .fourth_home_page_list_con {
    max-width: 850px;
  }
  .fourth_home_page_list button {
    max-width: 110px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 890px) {
  .fourth_home_page_div {
    padding: 2rem;
  }
  .fourth_home_page_list_con {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 600px;
  }
  .fourth_home_page_list {
    width: 100%;
    max-width: 200px;
  }
}
@media only screen and (max-width: 750px) {
  .fourth_home_page_list h2 {
    font-size: 20px;
  }
  .fourth_home_page_list h1 {
    font-size: 25px;
  }
  .fourth_home_page_list p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 650px) {
  .fourth_home_page_list_con {
    max-width: 500px;
  }
  .fourth_home_page_list {
    width: 100%;
    max-width: 200px;
  }
}
@media only screen and (max-width: 450px) {
  .fourth_home_page_con_left h2 {
    font-size: 26px;
  }
}
