.second_home_page_div {
  display: flex;
  flex-direction: column;
  min-height: 92vh;
  justify-content: space-between;
  margin: 0;
  background-color: rgb(210, 206, 224);
}
.second_home_page_con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10%;
}
.second_home_page_con_left {
  width: 100%;
  max-width: 800px;
  margin-left: 1rem;
  margin-right: 1rem;
  display: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.second_home_page_con_left h1 {
  font-size: 35px;
}
.second_home_page_con_right {
  width: 100%;
  max-width: 900px;
  padding-top: 5%;
  color: black;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding-bottom: 6rem; */
}
.second_home_page_con_right p {
  font-size: 14px;
}
.second_home_page_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.second_home_page_con_icon {
  width: 100%;
  max-width: 50px;
}

@media only screen and (max-width: 900px) {
  .second_home_page_list {
    max-width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 830px) {
  .second_home_page_con_left {
    max-width: 700px;
  }
  .second_home_page_con_left h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .second_home_page_con_left {
    max-width: 600px;
  }
}
@media only screen and (max-width: 630px) {
  .second_home_page_con_left {
    max-width: 500px;
  }
  .second_home_page_con_left h1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .second_home_page_con_left {
    max-width: 400px;
  }
  .second_home_page_con_icon {
    width: 100%;
    max-width: 40px;
  }
  .second_home_page_list h2 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 420px) {
  .second_home_page_list {
    max-width: 350px;
  }
}
