.seventh_home_page_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
  background-color: rgb(159, 150, 191);
}
.div {
  background-color: rgb(186, 178, 212);
  max-width: 1000px;
}
.seventh_home_page_con footer {
  font-size: 14px;
  padding-top: 30px;
  color: rgba(88, 88, 88, 0.975);
}
