.sixth_home_page_con {
  background-color: rgb(210, 206, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.sixt_home_page_con_left {
  padding-top: 4rem;
  width: 100%;
  color: black;
  font-size: 10px;
}

.sixt_home_page_con_right {
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 4rem;
}

.sixth_home_page_list {
  display: flex;
  gap: 3rem;
  padding: 2rem;
}

.sixth_home_page_list p {
  width: 100%;
}

.sixth_home_page_list h2 {
  font-size: 20px;
  color: rgb(89, 67, 168);
}

@media only screen and (max-width: 990px) {
  .sixt_home_page_con_left {
    padding-top: 2rem;
  }

  .sixt_home_page_con_right {
    width: 100%;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 850px) {
  .sixth_home_page_list p {
    font-size: 15px;
  }

  .sixth_home_page_list h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 715px) {
  .sixt_home_page_con_left {
    font-size: 8px;
  }

  .sixth_home_page_list {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .sixth_home_page_list p {
    font-size: 16px;
  }

  .sixth_home_page_list h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .sixth_home_page_list p {
    font-size: 15px;
  }

  .sixth_home_page_list h2 {
    font-size: 18px;
  }

  .sixt_home_page_con_left h1 {
    font-size: 25px;
  }
}
