.third_home_page_div_con {
  display: flex;
  width: 100%;
  color: rgb(86, 45, 152);
}

.third_home_page_con_left,
.third_home_page_con_right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third_home_page_con_left {
  background-color: white;
}

.third_con_title {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: start;
  padding: 3rem;
}

.third_con_title h1 {
  font-size: 38px;
  margin: 0;
  text-transform: uppercase;
}

.third_con_title p {
  padding-bottom: 1rem;
  font-size: 17px;
}

.third_home_page_con_left button {
  max-width: 130px;
  font-size: 15px;
}

.third_home_page_con_right {
  background-color: rgb(186, 178, 212);
  padding: 1rem 0;
}

@media only screen and (max-width: 1200px) {
  .third_con_title h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 1000px) {
  .third_con_title h1 {
    font-size: 30px;
  }

  .third_con_title p {
    font-size: 15px;
  }

  .third_home_page_con_left button {
    font-size: 13px;
  }
}

@media only screen and (max-width: 850px) {
  .third_con_title h1 {
    font-size: 25px;
  }

  .third_con_title p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .third_home_page_div_con {
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .third_con_title h1 {
    font-size: 20px;
  }
}
