:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* ------------------------------------HOME PAGE------FirstPage--------------- */
.first_home_page_footer_logo {
  width: 100%;
  max-width: 90px;
  margin: auto;
  filter: grayscale(1);
}
.first_home_page_footer_logo:hover {
  filter: grayscale(0);
}
.first_home_page_right_img {
  width: 100%;
  max-width: 500px;
}
@media only screen and (max-width: 1100px) {
  .first_home_page_right_img {
    width: 85%;
  }
}
@media only screen and (max-width: 800px) {
  .first_home_page_right_img {
    width: 100%;
    max-width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  .first_home_page_footer_logo {
    max-width: 70px;
  }
}
@media only screen and (max-width: 600px) {
  .first_home_page_footer_logo {
    max-width: 80px;
  }
}

/* -------------------------------------------HOME PAGE------SecondPage----------------- */
.second_home_page_con_icon {
  width: 100%;
  max-width: 50px;
  filter: invert(1);
}
@media only screen and (max-width: 500px) {
  .second_home_page_con_icon {
    max-width: 40px;
  }
}
/* -------------------------------------------HOME PAGE------ThirdPage----------------- */
.third_home_page_con_right_img {
  width: 100%;
  max-width: 400px;

  @media only screen and (max-width: 1000px) {
    width: 70%;
  }
  @media only screen and (max-width: 850px) {
    max-width: 250px;
  }
}

/* --------------------------------------HOME PAGE------FourthPage--------------- */
.fourth_home_page_con_images {
  width: 100%;
  max-width: 50px;
}

/* --------------------------------------HOME PAGE------SixthPage--------------- */
.sixth_home_page_con_icon {
  width: 100%;
  max-width: 100px;
  border-radius: 50%;
}
@media only screen and (max-width: 850px) {
  .sixth_home_page_con_icon {
    max-width: 80px;
  }
}
@media only screen and (max-width: 715px) {
  .sixth_home_page_con_icon {
    max-width: 100px;
  }
}
/* -------------------------------------------ABOUT PAGE--------------- */
.about_page_pic_con_1 {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
}
.about_page_pic_con_2 {
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
}
.about_page_pic_con_3 {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
}
@media only screen and (max-width: 820px) {
  .about_page_pic_con_1 {
    max-width: 200px;
  }
  .about_page_pic_con_2 {
    max-width: 250px;
  }
}
@media only screen and (max-width: 720px) {
  .about_page_pic_con_1 {
    max-width: 300px;
  }
  .about_page_pic_con_2 {
    max-width: 300px;
  }
}
@media only screen and (max-width: 530px) {
  .about_page_pic_con_1 {
    max-width: 250px;
  }
  .about_page_pic_con_2 {
    max-width: 250px;
  }
  .about_page_pic_con_3 {
    max-width: 200px;
  }
}
/* -------------------------------------CONTACT PAGE--------------- */
.contact_page_left_logo {
  margin-top: 6px;
  width: 35px;
  height: 35px;
}
@media only screen and (max-width: 850px) {
  .contact_page_left_logo {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 495px) {
  .contact_page_left_logo {
    width: 25px;
    height: 25px;
  }
}
