/* .items_cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
}

.items_cart h3,
.items_cart p {
  margin: 0px;
  padding: 0px;
}

.item_in_cart {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: 0px auto;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
  background-color: rgb(190, 232, 241);
}

.item_image {
  max-width: 150px;
  width: 100%;
  margin-left: 10px;
}
.increment {
  font-size: large;
  cursor: pointer;
}
.decrement {
  font-size: large;
  cursor: pointer;
}
.total_price {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}

.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: bold;
} */
.cart {
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  border-radius: 8px;
  background-color: rgb(213, 201, 227);
  max-height: 500px;
  overflow-y: auto;
  color: black;
  border: 1px solid gray;
}

.cart h3 {
  display: flex;
  text-align: start;
  margin: 5px;
}
.cart hr {
  border: none;
  width: 100%;
  height: 0.5px;
  background-color: #ffffff;
}
.list_items {
  display: grid;
  gap: 10px;
}
.item_in_cart {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}
.con_name {
  width: 100%;
  max-width: 250px;
}
.con_name h3 {
  font-size: 15px;
  margin: 0;
}
.con_name p {
  font-size: 12px;
  margin: 0;
  color: rgb(61, 61, 61);
  display: flex;
  align-items: start;
}
.con_img {
  max-width: 50px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(194, 183, 205);
}
.img {
  width: 80%;
}
.quantity {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 2px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  max-width: 60px;
  height: 20px;
}
.quantity span {
  font-size: 15px;
  color: rgb(61, 61, 61);
  padding: 2px;
}
.increment {
  cursor: pointer;
}
.decrement {
  cursor: pointer;
}
.price {
  width: 100%;
  max-width: 70px;
  font-size: 15px;
  display: flex;
  justify-content: end;
}
.nesto {
  width: 100%;
  max-width: 170px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.bin {
  max-width: 20px;
  width: 20%;
  cursor: pointer;
  margin-left: auto;
}
