/* .items_cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
}

.items_cart h3,
.items_cart p {
  margin: 0px;
  padding: 0px;
}

.item_in_cart {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: 0px auto;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
  background-color: rgb(190, 232, 241);
}

.item_image {
  max-width: 150px;
  width: 100%;
  margin-left: 10px;
}
.increment {
  font-size: large;
  cursor: pointer;
}
.decrement {
  font-size: large;
  cursor: pointer;
}
.total_price {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}

.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: bold;
} */
.cart {
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  border-radius: 8px;
  background-color: rgb(228, 225, 232);
  max-height: 500px;
  overflow-y: auto;
  color: black;
  border: 1px solid gray;
}

.cart h3 {
  display: flex;
  text-align: start;
  margin: 5px;
}
.cart hr {
  border: none;
  width: 100%;
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.299);
}
.list_items {
  display: grid;
  gap: 10px;
}
.item_in_cart {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}
.con_name {
  width: 100%;
  max-width: 250px;
}
.con_name h3 {
  font-size: 15px;
  margin: 0;
}
.con_name p {
  font-size: 12px;
  margin: 0;
  color: rgb(61, 61, 61);
  display: flex;
  align-items: start;
}
.con_img {
  max-width: 50px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(194, 183, 205);
}
.img {
  width: 80%;
}
.quantity {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 2px;
  border: 1px solid gray;
  border-radius: 7px;
  width: 100%;
  max-width: 60px;
  height: 20px;
}
.quantity span {
  font-size: 15px;
  color: rgb(61, 61, 61);
  padding: 2px;
}
.increment {
  cursor: pointer;
}
.decrement {
  cursor: pointer;
}
.price {
  width: 100%;
  max-width: 70px;
  font-size: 15px;
  display: flex;
  justify-content: end;
}
.con_right_item_in_cart {
  width: 100%;
  max-width: 170px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.bin {
  max-width: 20px;
  width: 20%;
  cursor: pointer;
  margin-left: auto;
}
.cart_bottom {
  /* display: grid; */
  /* display: flex; */
  /* gap: 5px; */
}
.promocode {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 5px;
}
.promocode input {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}
.promocode button {
  width: 15%;
  max-width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  background-color: white;
  color: black;
}
.promocode button:hover {
  background-color: rgb(186, 165, 206);
  color: white;
  border: 1px solid white;
}
.cart_bottom p {
  color: gray;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: start;
  font-size: 13px;
}
.subototal {
  display: flex;
  width: 100%;
  color: gray;
}
.subototal h4 {
  display: flex;
  width: 100%;
  text-align: start;
  justify-content: start;
  align-items: center;
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
.subototal h3 {
  font-size: 15px;
}
.total {
  display: flex;
  width: 100%;
}
.total h4 {
  display: flex;
  width: 100%;
  text-align: start;
  justify-content: start;
  align-items: center;
  margin: 0;
  font-size: 15px;
  color: gray;
  font-weight: 600;
}
.total h3 {
  font-size: 15px;
}
.buttons {
  display: grid;
  gap: 5px;
  padding-top: 10px;
}
.buttons button {
  display: flex;
  width: 100%;
  max-width: 500px;
  height: 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  background-color: white;
  color: black;
}
.buttons button:hover {
  background-color: rgb(186, 165, 206);
  color: white;
  border: 1px solid white;
}
@media only screen and (max-width: 576px) {
  .cart {
    width: 82%;
  }
}
@media only screen and (max-width: 520px) {
  .con_name p {
    display: flex;
    text-align: start;
  }
}
@media only screen and (max-width: 400px) {
  .cart {
    position: absolute;
    top: 5.5rem;
    max-height: 470px;
    padding: 10px;
  }
  .bin {
    margin-right: 10px;
  }
  .promocode button {
    font-size: 13px;
  }
}
